<div class="container-vertical">
    <a [routerLink]="['/main']">Home</a>
    <p>Add a new author:</p>
    <form class="subcontainer" (submit)="createNewAuthor()" method="post">
        <label>First Name</label><br>
        <input type="text" name="newAuthor.firstName" [(ngModel)]="newAuthor.firstName"><br><br>
        <label>Last Name</label><br>
        <input type="text" name="newAuthor.lastName" [(ngModel)]="newAuthor.lastName"><br><br>
        <label>Description</label><br>
        <textarea name="newAuthor.description" [(ngModel)]="newAuthor.description"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
